.button{
  display: inline-block;
  line-height: 1;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  white-space: nowrap;
  transition: .3s;

  &--orange{
    padding: 13px 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: @main-orange;
    color: #ffffff;

    &:hover, &:focus{
      background-color: darken(@main-orange, 10%);
    }
  }

  &--sh-orange{
    padding: 13px 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: @main-orange;
    color: #ffffff;
    box-shadow: 0 10px 35px -5px rgba(0, 0, 0, 0.6);

    &:hover, &:focus{
      background-color: darken(@main-orange, 10%);
      box-shadow: 0 5px 35px -5px rgba(0, 0, 0, 0.6);
    }
  }

  &--orange-border{
    border: 1px solid @main-orange;
    border-radius: 12px;
    color: @main-blue;
    padding: 6px 40px;
    font-size: 16px;

    &:hover, &:focus{
      color: #ffffff;
      border-color: @main-orange;
      background-color: @main-orange;
    }
  }

  &--orange-border-sqare{}

  &--white-border{
    padding: 11px 35px;
    font-size: 24px;
    color: #ffffff;
    border: 1px solid #ffffff;

    &:hover, &:focus{
      color: @main-orange;
      border-color: @main-orange;
    }
  }

  &--blue{
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: @main-blue;
    color: #ffffff;

    &:hover, &:focus{
      background-color: darken(@main-blue, 15%);
    }
  }

  &--blue-border{
    padding: 11px 20px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid @main-blue;
    color: @main-blue;

    &:hover, &:focus{
      color: darken(@main-blue, 15%);
      border-color: darken(@main-blue, 15%);
    }
  }
}