.our-partners{
  &__container{
    max-width: 1374px;
    width: 100%;
    padding: 40px 30px;
    margin: 0 auto;
  }

  &__title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    color: @main-black;
  }

  &__slider-wrap{
    padding-top: 30px;
    margin-top: 20px;
    border-top: 2px solid #d0d0d0;
  }

  &__slider{
    .slick-list{
      margin: 0 auto;
      width: ~'calc(100% - 140px)';
    }

    .slick-prev, .slick-next{
      z-index: 1;
      width: 22px;
      height: 100%;
      opacity: 0.6;

      &::after, &::before{
        display: none;
      }

      &:hover{
        opacity: 1;
      }
    }

    .slick-prev{
      left: 0;
      background: url("/img/slider_arrow_grey_left.png") no-repeat center / contain;
    }

    .slick-next{
      right: 0;
      background: url("/img/slider_arrow_grey_right.png") no-repeat center / contain;
    }
  }

  &__item-wrap{
    padding: 0 20px;
  }

  &__item{
    margin: 0 auto;
  }

  &__just-list{
    margin: 0 -10px;
    display: none;
    flex-wrap: wrap;
  }

  &__list-item{
    height: 25px;
    margin: 10px;
  }
}