*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: @defaultFont;
  box-sizing: border-box;
  &:focus, &:hover{
    outline: none
  }
}

html{
  font-size: 16px;
}


/*core folder*/
@import 'core/variable';
@import 'core/mixins';
@import 'core/text';

/*plugins*/
@import 'plugins/fancybox/fancybox';
@import 'plugins/slick/slick';
@import 'plugins/slick/slick-theme';
@import 'plugins/magnific-popup/magnific-popup';

/*other*/
@import 'other/popup';
@import 'other/select';
@import 'other/hamburger';
//@import 'other/recaptcha';

/*desctop folder*/
@import 'desktop/common';
@import 'desktop/button';
@import 'desktop/feedback-form';
@import 'desktop/feedback-input';
@import 'desktop/only';
@import 'desktop/header';
@import 'desktop/slider';
@import 'desktop/about-windows';
@import 'desktop/advantages';
@import 'desktop/main';
@import 'desktop/examples';
@import 'desktop/breadcrumbs';
@import 'desktop/services';
@import 'desktop/calculator';
@import 'desktop/static-page';
@import 'desktop/components';
@import 'desktop/product';
@import 'desktop/contacts';
@import 'desktop/sale';
@import 'desktop/sale-banner';
@import 'desktop/guarantee';
@import 'desktop/guarantee-grey';
@import 'desktop/guarantee-banner';
@import 'desktop/reviews';
@import 'desktop/prices';
@import 'desktop/production';
@import 'desktop/production-banner';
@import 'desktop/big-card';
@import 'desktop/icon-cards';
@import 'desktop/application';
@import 'desktop/small-info';
@import 'desktop/seo-text';
@import 'desktop/footer';
@import 'desktop/contacts-info';
@import 'desktop/out-partners';
