@media all and (max-width: 1370px) {
  .examples{
    &__title{
      font-size: 36px;
    }

    &__categories{
      margin-top: 25px;
      font-size: 20px;
    }

    &__types{
      margin-top: 25px;
      font-size: 20px;
    }

    &__img{
      max-height: 155px;
    }

    &__price{
      margin-top: 20px;
      padding: 5px 15px;
      font-size: 24px;
    }

    &__full-price{
      margin-top: 8px;
      font-size: 18px;
    }
  }
}

@media all and (max-width: 1024px) {
  .examples{
    &__list{
      margin-top: 30px;
      margin-left: -55px;
    }

    &__item{
      margin-left: 55px;
      margin-bottom: 40px;
    }

    &__price{
      margin-top: 15px;
      padding: 5px 10px;
      font-size: 20px;
    }

    &__full-price{
      font-size: 16px;
    }
  }
}

@media all and (max-width: 768px) {
  .examples{
    &__title{
      font-size: 24px;
    }

    &__categories{
      margin-top: 15px;
      font-size: 18px;
    }

    &__types{
      margin-top: 15px;
      font-size: 18px;
    }

    &__list{
      margin-top: 25px;
      margin-left: -25px;
    }

    &__item{
      margin-left: 25px;
      margin-bottom: 25px;
    }

    &__img{
      max-height: 110px;
    }

    &__price{
      margin-top: 10px;
      padding: 3px 10px;
      font-size: 16px;
    }

    &__full-price{
      margin-top: 2px;
      max-width: 110px;
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

@media all and (max-width: 420px) {
  .examples{
    &__title{
      font-size: 18px;
    }

    &__categories{
      margin-top: 10px;
      font-size: 16px;
    }

    &__types{
      margin-top: 10px;
      font-size: 16px;
    }

    &__price{
      margin-top: 10px;
      padding: 3px 10px;
      font-size: 15px;
    }

    &__full-price{
      margin-top: 2px;
      max-width: 95px;
      font-size: 14px;
      line-height: 1.2;
    }
  }
}