@media all and (max-width: 1024px) {
  .our-partners{
    &__slider{
      display: flex;
      flex-wrap: wrap;
    }

    &__item-wrap{
      height: 40px;
      padding: 5px;
    }

    &__item{
      max-height: 100%;
    }
  }
}