.text-block{
  max-width: 100%;

  p{
    color: @main-black;
    line-height: 1.275;
    font-size: 18px;
    strong, b{
      font-weight: 600;
    }
  }
  h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 1.2;
    color:  @main-black;
  }
  h2{
    font-size: 54px;
    font-weight: 600;
    line-height: 1.2;
    color:  @main-black;
  }
  h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    color:  @main-black;
  }
  h4{
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    color:  @main-black;
  }
  h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color:  @main-black;
  }
  h6{
    font-size: 28px;
    font-weight: normal;
    line-height: 1.2;
    color:  @main-black;
  }

  ul{
    list-style-type: disc;
    margin-left: 15px;
    li{
      list-style-type: disc;
      margin-bottom: 5px;
      color: @main-black;
      line-height: 1.5;
      font-size: inherit;
    }
  }
  ol{
    list-style-type: decimal;
    margin-left: 15px;
    li{
      list-style-type: decimal;
      color: @main-black;
      line-height: 1.5;
      font-size: inherit;
    }
  }
  a{
    .link(@main-black, @main-black, @main-blue, @main-blue);
    font-family: inherit;
    font-size: inherit;
  }

  table{
    max-width: 100%;
    overflow-x: auto;
    table-layout: fixed;
    display: flex;
  }

  tbody{}

  tr{
    font-size: 20px;
    line-height: 1.1;

    &:first-child{
      font-size: 22px;

      td{
        padding-top: 0;
        font-weight: 600;
        color: @main-orange;
      }
    }
  }

  td{
    padding: 10px 70px 10px 0;
    vertical-align: top;

    &:last-child{
      padding-right: 5px;
    }
  }
}

ul{
  list-style-type: none;
}
ol{
  list-style-type: none;
}
img{
  max-width: 100%;
}
/*

p{
  color: #666666;
  line-height: 1.5;
  font-size: inherit;
  strong, b{
    font-weight: bold;
  }
}
h1{
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color:  @main-black;
}
h2{
  font-size: 64px;
  font-weight: 900;
  line-height: 1;
  color:  @main-black;
}
h3{
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  color:  @main-black;
}
h4{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  color:  @main-black;
}
h5{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color:  @main-black;
}
h6{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color:  @main-black;
}

ul{
  list-style-type: none;
  li{
    list-style-type: none;
    color: #666666;
    line-height: 1.5;
    font-size: inherit;
  }
}
ol{
  list-style-type: none;
  li{
    list-style-type: none;
    color: #666666;
    line-height: 1.5;
    font-size: inherit;
  }
}
a{
  font-family: inherit;
  font-size: inherit;
}
img{
  max-width: 100%;
}

@media screen and (max-width: 820px) {
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 48px;
  }
}

@media screen and (max-width: 620px) {
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 42px;
  }
}

@media screen and (max-width: 420px) {
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 38px;
  }
  h3{
    font-size: 18px;
  }
}*/

@media screen and (max-width: 1270px) {
  .text-block{
    tr{
      font-size: 18px;

      &:first-child{
        font-size: 20px;
      }
    }

    td{
      padding: 7px 40px 7px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .text-block{
    p{
      font-size: 14px;
    }

    tr{
      font-size: 14px;

      &:first-child{
        font-size: 16px;
      }
    }

    td{
      padding: 5px 30px 5px 0;
    }
  }
}